.top-div {
    /*background-image: url('/static/img/slide1.png');*/
    width:100%!important;
    height: 200px;
}
.bg-lightgreen {
    background-color: rgb(155,233,160);
}
.main-gradient {
    background: linear-gradient(0deg, rgba(155,233,160,1) 0%, rgba(64,168,167,1) 47%, rgba(0,128,255,1) 100%);
}
.nav-btn {
    /* border-left: solid white 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px gray;*/
    padding: 15px 40px 15px 40px;
    margin: 5px 10px 5px 10px;
    /* color: white; */
    font-size: 24px;
    transition: all .5s;
    height: 100%;
}
.nav-btn:hover {
    /*margin: 0;*/
    padding: 15px 40px 15px 40px;
    transition: all .5s;
    color: white;
    background-color: rgba(255,255,255,0.1);
}
.my-dropdown-btn:active {
    box-shadow: 0px 30px 50px white;
    transition: all .02s;
}
.my-dropdown {
    left:10%;
    /* border: 1px solid lightgray; */
}
.my-dropdown>a{
    box-shadow: none;
    transition: all .1s;
    font-size: 1.3rem;
    text-align: left;
    margin:5px 0px;
    padding: 5px 10px;
}
.my-dropdown>a:hover{
    /*box-shadow: 0px 0px 10px gray;
    position: relative;
    left:-10px;*/
    color: white;
    background: gray;
    transition: all .1s;
}
@media screen and (max-width: 768px){
    .nav-btn {
        margin: 0px 10px;
        padding: 10px;
        font-size: 1.2em;
        padding: 5px;
    }
    .nav-btn:hover {padding: 5px;}
    .my-dropdown {
        background-color: transparent;
        border: 0;
    }
    .my-dropdown>a {
        color: white;
        margin: 0px 10px;
        padding: 5px 10px;
        font-size: 1.1em;
    }
    .my-dropdown>a:hover {
        background-color: rgba(255,255,255,0.2);
    }
}
.errorlist {
    padding: 2px;
}
.errorlist>li {
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background-color: pink;
    color: darkred;
    list-style-type: none;
    margin:auto;
}
.green-glow {
    box-shadow: 0px 0px 3px limegreen;
    transition: box-shadow 0.2s;
}
.green-glow:hover {
    box-shadow: 0px 0px 30px lightgreen;
    transition: box-shadow 0.2s;
}